<div x-show="open"
    style="display: none;"
    @click.away="open = false" 
    x-transition:enter="transition ease-out duration-500"
    x-transition:enter-start="transform -translate-y-10 opacity-75"
    x-transition:enter-end="transform translate-y-1 opacity-100"
    x-transition:leave="transition ease-in duration-300"
    x-transition:leave-start="transform translate-y-1 opacity-100"
    x-transition:leave-end="transform -translate-y-10 opacity-0"
    class="flex flex-col items-center py-2 space-y-2 lg:hidden"
>
    <a href="" class="p-2 text-sm origin-top focus:outline-none">
        Hosting
    </a>
    <a href="" class="p-2 text-sm focus:outline-none">Domain</a>
    <a href="" class="p-2 text-sm focus:outline-none">Server</a>
    <a href="" class="p-2 text-sm focus:outline-none">Website</a>
    <a href="" class="p-2 text-sm focus:outline-none">Afiliasi</a>
    <a href="" class="p-2 text-sm focus:outline-none">Promo</a>
    <a href="" class="p-2 text-sm focus:outline-none">Pembayaran</a>
    <a href="" class="p-2 text-sm focus:outline-none">Review</a>
    <a href="" class="p-2 text-sm focus:outline-none">Kontak</a>
    <a href="" class="p-2 text-sm focus:outline-none">Blog</a>
</div>